.ImagenPrincipal{
    width: 100%;
    height: 400px;
    padding:30px;
}
.TextoPrincipal
{
    padding-left: 5%;
    padding-top: 2%;

    font-size: 20px;
}
.ImagenDos{
    width: 100%;
    height: 400px;
    padding:5%;
}