<div class="row">
    <div class="col-md-12" style="width: 100%; height: 500px;">
          <app-mapa></app-mapa>
        </div>

    <div class="col-md-12 TextoPrincipal" >
        <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Centro comercial Titan Plaza
                  </button>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  El centro comercial Titán Plaza es un centro comercial ubicado en el noroccidente de Bogotá en la localidad de Engativá. Es el quinto centro comercial más grande de Colombia después de Centro Mayor, VIVA Envigado, Santafé y Calima, todos ubicados en la ciudad de Bogotá, excepto Viva Envigado. Dirección AV. Boyáca, Cl. 80, Bogotá, Cundinamarca
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Centro comercial Portal 80
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  El Centro Comercial Portal 80, nació como una idea a principios del 2002. A partir de este momento se inició un proceso de trabajo en equipo, conformado por varios profesionales, quienes han desarrollado este gran proyecto con un alto grado de dedicación y decidido respaldo. Dirección: Transversal 100A # 80A - 20, Bogotá, Cundinamarca
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Puente de guaduas
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  El Puente de Jenny Garzón, más conocido con el nombre de Puente de Guadua, es el único puente peatonal de la ciudad de Bogotá construido en este material sostenible y renovable. El puente, que está construido a una altura de unos 5,8 metros, aproximadamente, tiene una longitud de unos 45 m. y una anchura de 3 m, dirección Seguir calle 80 hasta Rio Bogotá
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Parque San Andres
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  El Parque San Andrés es uno de los principales del noroccidente de Bogotá. Se encuentra ubicado muy cerca del Portal de la 80 del sistema de TransMilenio. El sector es llamado Bochica II de la localidad de Engativá. La manera más fácil para llegar al parque es a través del sistema de transporte TransMilenio., Cra. 111c #82a-1, Bogotá
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Parque Santa Maria del Lago
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  El Humedal Santa María del Lago se ubica en la localidad de Engativá cerca de la Autopista Medellín entre las avenidas Cali y Boyacá. Limita al sur con el barrio del mismo nombre, al oriente con la avenida Boyacá, al norte con la calle 80 y el barrio Minuto de Dios; al occidente con la carrera 76, y los barrios Tabora y La Granja.2 Alrededor de su principal cuerpo de agua se conserva un área boscosa. Consta de dos entradas, cada una con una portería. Su administración se encuentra a cargo de la Empresa de Acueducto y Alcantarillado de Bogotá. Dirección Cra. 76 #75B 02, Zona 3, Bogotá
                </div>
              </div>
            </div>
            
          </div>
    </div>

</div>