<form  method="POST">
    <div class="form-group">
      <label for="exampleFormControlInput1">Direccion Email</label>
      <input type="email" class="form-control" id="correo" name="correo" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Nombre</label>
        <input type="email" class="form-control" id="nombre" name="nombre"placeholder="name">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Direccion del evento o lugar </label>
        <input type="email" class="form-control" id="direccion" placeholder="Direccion">
      </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Reseña breve de la tarea o lugar </label>
      <textarea class="form-control" id="reseña" rows="3"></textarea>
    </div>
    <button  (click)="insertarDatos()">Insertar Datos</button>
  </form>